*{
    margin: 0;
    padding: 0;
}
 nav{
    position: absolute;
    width: 1440px;
    height: 129px;
    left: 0px;
    top: 0px;
    background: #000;
}
li{
    list-style-type: none;
}


nav a:hover{
    position: absolute;
    width: 200px;
    height: 68px;
    left: 325px;
    top: 30px;
    background: #1687A7;
    border-radius: 50px;
}