@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
* {
	font-family: 'Comfortaa', cursive;
}
.end{
    position: absolute;
    z-index: -99;
    bottom: 0;
}
img {
    height: 1500px;
    background-size: contain;
    max-width: 100%;
    margin-left:-5px;
    margin-bottom: -200px;
    left: 0px;
}
.add1{
    position: absolute;
    text-align: left;
    left: 4vw;
    font-weight: bold;
    font-size: 77px;
    margin-top: 90px;
}
.add2{
    position: absolute;
    right: 13vw;
    top: 190px;
    text-align: left;
    font-weight: bold;
    font-size: 70px;
    margin-top: 30px;
}
.allpc{
	display: flex;
	max-width: 50em;
	margin-left: 50px;
	margin-top:30px;
  
  
  }
  .pc1{
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	height: 760px;
	width: 650px;
	padding-top: 30px;
	margin-right: 20px;
	
  }
  .pc1pics{
	position: inherit;
	height: 400px;
	width: 400px;
	padding-left: 10px;
	padding-right: 10px;
  }
  .pc1pic{
	text-align: center;
	position: inherit;
	
  }
  p{
	text-align:center;
	position: inherit;
	font-size: 5px;
	font-size: 20px;
  }
  .pc2{
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	height: 757px;
	width: 550px;
   padding-top: 30px;
   padding-bottom: 0px;
   
  }
  .pc2pics{
	position: inherit;
	height: 400px;
	width: 400px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 24px;
  }
  .pc2pic{
	text-align: center;
	position: inherit;
  }
  .pc3{
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	height: 777px;
	width: 550px;
   padding-top: 10px;
   margin-left: 50px;
  }
  .pc3pics{
	position: inherit;
	height: 400px;
	width: 400px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 22px;
  }
  .pc3pic{
	text-align: center;
	position: inherit;
  }

  .pc4{
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	height: 777px;
	width: 650px;
   padding-top: 10px;
   margin-left: 50px;
  }
  .pc4pics{
	position: inherit;
	height: 400px;
	width: 400px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 22px;
  }
  .pc4pic{
	text-align: center;
	position: inherit;
  }